.button-green {
  background: #CAD225;
  border: #FFF;
  padding: 10px;
  border-radius: 4px;
  color: #FAFAFA;
}



input:focus {
  border: 3px solid #CAD225 !important;
  outline: #CAD225;
}